extends layout

block content
  h1= title
  p Welcome to #{title}
  form(action="/" ,method="post")
    p Nom produit
    input(type="text", name="name")
    input(type="submit" ,value="save")
  h5 Liste :
  table(border=1)
    tr
      th produit
    each produit, i in products
      tr
        td 
          input(type="text", id="p#{produit.name}" value="#{produit.name}"  )
          input(type="submit", value="Modifier" , onclick="updateProduct('#{produit.name}')" )
        td         
          input(type="submit", value="Supprimer" , onclick="deleteProduct('#{produit.name}')" )
